<html>
<head>
	<link href="/stylesheets/events.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<ul>
		<li><%= link_to 'oggetti', items_path %></li>
		<li><%= link_to 'messaggi', messages_path %></li>
		<li><%= link_to 'eventi', events_path %></li>
	</ul>
	<%= yield %>
</body>
</html>